<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>.\test_results</ResultsDirectory>
    <TargetPlatform>x64</TargetPlatform>
    <TargetFrameworkVersion>Framework40</TargetFrameworkVersion>
  </RunConfiguration>
  <SpecRun>
    <Profile>SpecFlow_Example.srprofile</Profile>
  </SpecRun>
</RunSettings>